<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="EmployeeManagementDB"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EmployeeManagement;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>

	<appSettings>
		<add key="PageSize" value="50"/>
		<add key="CommandTimeout" value="30"/>
	</appSettings>
</configuration>