USE [master]
GO
/****** Object:  Database [dadDB]    Script Date: 2/15/2019 12:28:37 PM ******/
CREATE DATABASE [dadDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dadDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dadDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dadDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dadDB_log.ldf' , SIZE = 528KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dadDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dadDB]
GO
/****** Object:  StoredProcedure [dbo].[st_insertUser]    Script Date: 2/15/2019 12:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[st_insertUser]
@name varchar(30),
@phone varchar(15),
@gender tinyint,
@age tinyint,
@status tinyint
as
insert into users values (@name,@phone,@gender,@age,@status)
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/15/2019 12:28:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[u_id] [int] IDENTITY(1,1) NOT NULL,
	[u_name] [varchar](30) NOT NULL,
	[u_phone] [varchar](15) NOT NULL,
	[u_gender] [tinyint] NOT NULL,
	[u_age] [tinyint] NOT NULL,
	[u_status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([u_id], [u_name], [u_phone], [u_gender], [u_age], [u_status]) VALUES (1, N'Hammad', N'0345-1231231', 1, 24, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
